<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header/meta_tags' %>
  <%= render 'layouts/header/stylesheets' %>
  <%= render 'layouts/header/javascript' %>
  <title><%= "Extract Contacts" %></title>

  <style>
      #ionic-header {
          background-color: #EB6C55;
          color: #fff;
          font-size: 14px;
          padding: 10px;
          line-height: 16px;
          text-align: center;
          border-bottom: 1px solid #333;
      }
      header {
      }
      #content-wrapper {
          padding-top: 110px;
      }
      #ionic-header a {
          color: #fff;
          text-decoration: underline;
      }

      @media only screen and (min-width: 768px) {
          /* tablets and desktop */
      }

      @media only screen and (max-width: 400px) {
          header {
              position: absolute;
          }
          .grid-row [class*="grid"] {
              float: none !important;
              margin: 0px;
              margin-bottom: 20px;
              width: 100% !important;
              max-width: 100% !important;
          }
      }

      @media only screen and (max-width: 767px) {
          /* phones */
          #index .details .icons {
              margin: auto;
              float: none;
          }
          #hellobar-container > * {
              overflow: hidden;
          }
          .wrapped-content {
              width: 100%;
          }
          #cta-content .wrapped-content {
              padding-top: 90px;
          }
          #cta-content .bottom {
              width: 100%;
              margin-top: 15px;
          }
          header a.link {
              margin-right: 5px;
          }

          .grid-row [class*="grid"] {
              float: left;
              margin-left: 10px;
          }
          .grid-row {
              width: 100%;
              max-width: 100%;
          }
          .grid-row .grid-3 {
              max-width: 30%;
          }
      }

      @media only screen and (max-width: 767px) and (orientation: portrait) {
          /* portrait phones */
      }
  </style>
</head>
<body>
<header class="">



  <div class="wrapped-content">
    <div class="l">
      <a href="/#top" class="jetstrap-logo"></a>
    </div>
  </div>
</header>
<%=yield%>
    <%= render 'layouts/header/footer'%>
</body>
</html>
